@charset "UTF-8";


html,head,
body {
    scroll-behavior: smooth;
    background: linear-gradient(to right, #E6F4F1 0%, #afc1ff 67%, #B8C6F5 100%);
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

/* Navigation */
.nav {
    z-index: 1000;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    background: linear-gradient(to right, #cbd7ff 2%, #a7baff 70%, #a7baff 100%);
    border-radius: 0 0 30px 30px;
}

.nav ul {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    height: 75px;
    border-radius: 0 0 20px 20px;
    margin: 0;
    padding-right: 115px;
}

.nav ul li {
    list-style: none;
    margin: 13px 0 10px;
    transition: transform 0.3s ease;
}

.nav ul li a {
    color: #000;
    padding: 17px 30px;
    text-decoration: none;
    font: 510 16px 'Inter', sans-serif;
    display: block;
    text-align: center;
    transition: color 0.3s ease;
}

.nav ul img {
    width: 120px;
    height: 120px;
    position: fixed;
    top: -20px;
    left: 150px;
    transition: transform 0.3s ease;
}

.nav ul img:hover,
.nav ul li:hover {
    transform: scale(1.12);
}

.bg_color {
    background: linear-gradient(to right, #E6F4F1 0%, #C0CEFA 67%, #B8C6F5 100%);
}






/*Home Page*/
/* Home Header */
.head_kv,
#head_para,
.advantages,
.home_manners,
.map,
.faqs,
.slide {
    position: relative;
    width: 100%;
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 1s ease, transform 1s ease;
}

.head_kv {
    background-color: linear-gradient(to right, #E6F4F1 0%, #afc1ff 67%, #B8C6F5 100%);;
  opacity: 0; 
  transform: translateY(30px); 
  transition: opacity 0.8s ease-out, transform 0.8s ease-out; 
}

.head_kv.visible {
  opacity: 1; 
  transform: translateY(0); 
}


#head_para.visible,
.advantages.visible,
.home_manners.visible,
.map.visible,
.faqs.visible,
.slide.visible {
    opacity: 1;
    transform: translateY(0);
}

.head_kv.visible{
    overflow: hidden;
}

.head_kv img {
    width: 40%;
    height: 40%;
    padding-top: 85px;
    margin-bottom: 50px;
    margin-left: 50px;

}

.text1{
    position: absolute;
    top: 200px;
    right: 200px;
    font: bolder 36px 'Inter', sans-serif;
    margin: 0;
    text-align: center;
    color: #494AE9;
    text-shadow: 2px 2px 0 #ffffff;
    line-height: 60px;
}

.text2{
    position: absolute;
    top: 450px;
    right: 70px;
    font: bold 48px 'Inter', sans-serif;
    margin: 0;
    text-align: center;
    color: #494AE9;
    text-shadow: 2px 2px 0 #ffffff;
}




/* Head Paragraph */
#head_para {
    background: #494AE9;
    margin: 0;
    /* margin-top: -12px !important; */
    overflow: auto;
    border-radius: 20px;
}

.advantages h3,
.map h3,
.faqs h1 {
    font: bold 32px 'Inter', sans-serif;
    color: #494AE9;
    text-align: center;
    margin: 100px auto 40px;
    padding: 15px 20px;
    border: 1px solid #fff;
    border-radius: 20px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
    background: #fff;
    width: fit-content;
    max-width: 90%;
}

#head_para h2{
    font: bold 32px 'Inter', sans-serif;
    color: #494AE9;
    text-align: center;
    margin: 100px auto 0;
    padding: 15px 20px;
    border: 1px solid #fff;
    border-radius: 20px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
    background: #fff;
    width: fit-content;
    max-width: 90%;
}

#head_s_para {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    margin: 0 auto 100px 50px;
}


.head_s_container {
    width: 517px;
    height: 310px;
    overflow: hidden;
    position: relative;
    border-radius: 20px;
    margin-left: 150px;
    margin-top: 95px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

.map_container_1,
.map_container_2,
.adv_container_1,
.adv_container_2,
.adv_container_3,
.adv_container_4,
.adv_container_5 {
    width: 517px;
    height: 310px;
    overflow: hidden;
    position: relative;
    border-radius: 20px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

.head_s_container img,
.map figure img,
.map_img iframe {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
    transition: transform 0.3s ease;
}

.head_s_container img:hover,
.map figure img:hover,
.map_img iframe:hover,
.advantages_img figure a:hover img {
    transform: scale(1.05);
}

#head_s_para p {
    color: #fff;
    font: bold 16px/40px 'Inter', sans-serif;
    margin: 100px 0 0 20px;
}



/* Home Small Icons */
.advantages h3 {
    color: #fff;
    background: #494AE9;
    border: none;
}

.advantages_img {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
}

.advantages figure {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.adv_container_1,
.adv_container_2,
.adv_container_3,
.adv_container_4,
.adv_container_5 {
    width: 169px;
    height: 169px;
    border-radius: 100%;
}

.advantages_img figure img {
    width: 169px;
    height: 169px;
    transition: transform 0.3s ease;
}



.advantages_img figure figcaption {
    color: #000;
    font: bolder 20px 'Inter', sans-serif;
    text-align: center;
    margin: 30px 0 100px;
}

.advantages figcaption {
    position: relative;
    display: inline-block;
    text-decoration: none;
    color: inherit;
}

.advantages figcaption::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 0;
    height: 1.5px;
    background-color: #000;
    transition: width 0.3s ease-in-out;
}

.advantages figcaption:hover::after {
    width: 100%;
}

/* .popup-link {
    text-decoration: none;
}

.popup-modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1000;
    justify-content: center;
    align-items: center;
}

.popup-content {
    background: linear-gradient(to right, #E6F4F1 0%, #C0CEFA 67%, #B8C6F5 100%);
    padding: 20px;
    border-radius: 10px;
    width: 1100px;
    max-width: 95%;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
    position: relative;
    text-align: center;
    margin-right: 20px;
}

.popup-header {
    display: inline-block;
    background: #494AE9;
    color: #fff;
    font: bold 32px 'Inter', sans-serif;
    padding: 15px 20px;
    border-radius: 20px;
    margin: 30px -20px 20px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

.popup-image img {
    width: 150px;
    height: auto;
    margin-bottom: 20px;
}

.popup-text {
    color: #fff;
    font: bold 24px/1.8 'Inter', sans-serif;
    margin: 0 20px 20px;
    background: #494AE9;
    width: 96%;
    padding: 50px 0;
    border-radius: 20px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

.popup-close {
    position: absolute;
    top: 25px;
    right: 50px;
    font-size: 70px;
    cursor: pointer;
    color: #494AE9;
    border: none;
    background: none;
    transition: transform 0.2s ease;
}

.popup-close:hover {
    transform: scale(1.1);
} */

/* Home Manners */
.home_manners {
    background: #fff;
    width: 100%;
    height: 570px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
    border-radius: 20px;
}

.home_manners p {
    color: #494AE9;
    font: bold 24px/250% 'Inter', sans-serif;
    text-align: center;
    margin: 0;
    max-width: 500px;
    padding-right: 200px;
    line-height: 2.8;
}

.home_manners p span {
    color: #fff;
    font-size: 26px;
    background: #494AE9;
    padding: 15px 20px;
    border-radius: 20px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
    width: fit-content;
    max-width: 90%;
}

.home_manners img {
    width: 575px;
    height: 370px;
    padding-left: 200px;
}

/* Home Location */
.map {
    background: #494AE9;
    height: 857px;
    width: 100%;
    margin-top: 100px;
    padding-top: 10px;
    border-radius: 20px;
}

.map_img {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 35px;
}

.map_container_1,
.map_container_2 {
    width: 522px;
    height: 404px;
}

.map_container_1::after {
    content: '≫';
    position: absolute;
    top: 90%;
    left: 95%;
    transform: translate(-50%, -50%);
    color: #fff;
    font: bold 36px Arial, sans-serif;
    opacity: 0;
    transition: opacity 0.3s ease;
    pointer-events: none;
    padding: 0 20px;
    width: 78%;
    height: 30px;
    text-align: center;
}

.map_container_1:hover::after {
    opacity: 3;
    filter: brightness(80%);
}

.map figure figcaption {
    color: #fff;
    font: bold 24px 'Inter', sans-serif;
    text-align: center;
    margin: 50px 0;
}

/* Images Slide Show */
.slide {
    display: block;
    color: #fff;
    font: bold 32px 'Inter', sans-serif;
    text-align: center;
    padding: 15px 20px;
    margin: 100px auto;
    background: #494AE9;
    width: fit-content;
    max-width: 90%;
    border-radius: 20px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

.imgs_slide {
    position: relative;
    width: 100vw;
    height: 400px;
    overflow: hidden;
    margin: 0;
    padding-top: 20px;
    box-sizing: border-box;
}

.img_train {
    display: flex;
    width: 5080px;
    animation: scrollTrain 24s linear infinite;
    gap: 40px;
    justify-content: flex-start;
}

.img_train img {
    width: 600px;
    height: 340px;
    object-fit: cover;
    border-radius: 20px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

.img_train img:last-child {
    border-radius: 20px;
}

@keyframes scrollTrain {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-2520px);
    }
}

/* Home FAQs */
.faqs {
    margin-bottom: 100px;
}

.faqs h1 {
    color: #fff;
    text-transform: uppercase;
    line-height: 42px;
    letter-spacing: 3px;
    background-color: #494AE9;
    border: none;
}

.faqs h2 {
    font: bold 24px/34px 'Inter', sans-serif;
    color: #494AE9;
    background: #EFFCFF;
    padding: 35px;
    margin: 0 0 10px 270px;
    cursor: pointer;
    text-align: center;
    width: 930px;
    border-radius: 50px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

.faqs p {
    color: #494AE9;
    font: bold 16px/35px 'Inter', sans-serif;
    background: #EFFCFF;
    margin: 0 0 10px 270px;
    padding: 20px 35px;
    width: 930px;
    border-radius: 50px;
    max-height: 0;
    opacity: 0;
    transform: translateY(-20px);
    overflow: hidden;
    transition: max-height 0.6s ease-in-out, opacity 0.6s ease-in-out, transform 0.6s ease-in-out, padding 0.6s ease-in-out;
    pointer-events: none;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}







/*Teacher Page*/
/*Teacher Header*/

.teacher_head {
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 1s ease, transform 1s ease;
    background-color: #494AE9;
    margin-top: 75px;
    margin-bottom: 100px;
    padding-top: 50px;
    padding-bottom: 50px;
    border-radius: 20px;
}

.teacher_head.visible {
    opacity: 1;
    transform: translateY(0);
}


.teacher_head h1 {
    display: block;
    margin: 0 auto;
    font-size: 32px;
    font-weight: bold;
    text-align: center;
    color: #494AE9;
    font-family: 'Inter', sans-serif;
    padding: 20px 30px;
    border-radius: 16px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
    background-color: #ffffff;
    width: fit-content;
    max-width: 90%;
}

.teacher_head p {
    color: #fff;
    font-size: 24px;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 100px;
}



/*Teacher Profiles*/

.teachers {
    display: flex;
    justify-content: space-around;
    margin-top: 0;
    gap: 15px;
    margin: 0 100px !important;
}

.osanai_container img,
.sekine_container img,
.mori_container img {
    width: 100%;
    height: 100%;
    transition: transform 0.3s ease;
}

.osanai_container img:hover,
.sekine_container img:hover,
.mori_container img:hover {
    transform: scale(1.05);
}

.osanai_container,
.sekine_container,
.mori_container {
    width: 336px;
    height: 518px;
    border-radius: 20px;
    overflow: hidden;
    position: relative;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

.osanai_icon figcaption,
.sekine_icon figcaption,
.mori_icon figcaption {
    color: #fff;
    font-size: 24px;
    text-align: center;
    margin-top: 20px;
    font-weight: 500;
}



/*Teachers' Interview*/

.teacher_1,
.teacher_2 {
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 1s ease, transform 1s ease;
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 20px;
    height: 530px;
    background-color: #494AE9;
    padding: 20px;
    margin-top: 100px;
    margin-bottom: 100px;
    border-radius: 20px;
    /* opacity: 0;
  transform: translateY(50px);
  transition: opacity 1s ease, transform 1s ease; */
}

.teacher_3 {
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 1s ease, transform 1s ease;
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 20px;
    height: 530px;
    background-color: #494AE9;
    padding: 20px;
    margin-top: 100px;
    margin-bottom: 0;
    border-radius: 20px;
    /* opacity: 0;
  transform: translateY(50px);
  transition: opacity 1s ease, transform 1s ease; */
}

.teacher_1.visible,
.teacher_2.visible,
.teacher_3.visible {
    opacity: 1;
    transform: translateY(0);
}

.side_1,
.side_2,
.side_3 {
    background-color: white;
    padding: 10px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.side_1 img,
.side_2 img,
.side_3 img {
    width: 476px;
    height: 390px;
    transition: transform 0.3s ease;
}

.osanai_container_1,
.sekine_container_1,
.mori_container_1 {
    width: 476px;
    height: 390px;
    overflow: hidden;
    position: relative;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
}

.side_1 img:hover,
.side_2 img:hover,
.side_3 img:hover {
    transform: scale(1.05);
}

.side_1 h2,
.side_2 h2,
.side_3 h2 {
    color: #494AE9;
    font-size: 28px;
    font-weight: bold;
    text-align: center;
    border-radius: 20px;
    margin-top: 25px;
}

.t_content_1,
.t_content_2,
.t_content_3 {
    background-color: white;
    padding: 20px;
    padding-top: 40px;
    border-radius: 20px;
    display: grid;
    grid-template-rows: repeat(4, auto);
    /* 4 sections */
    gap: 15px;
}

.t_section_1,
.t_section_2,
.t_section_3 {
    padding: 0;
    background-color: #e6f0fa;
    border-radius: 20px;
    text-align: center;
}

.t_section_1 h2,
.t_section_2 h2,
.t_section_3 h2 {
    color: #494AE9;
    text-shadow: 2px 2px 0 #a7baff;
    margin-bottom: 35px;
}

.t_section_1 p,
.t_section_2 p,
.t_section_3 p {
    color: #494AE9;
    font-size: 18px;
    font-weight: 550;
}





/*Teachers Catch*/

.teachers_catch {
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 1s ease, transform 1s ease;
    background-color: #fff;
    display: flex;
    margin: 100px 0 0 0;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius:20px 20px 0 0;
    /* opacity: 0; */
    /* transform: translateY(50px); */
    /* transition: opacity 1s ease, transform 1s ease; */
}

.teachers_catch.visible {
    opacity: 1;
    transform: translateY(0);
}

.teachers_catch img {
    padding-top: 80px;
    margin-bottom: 20px;
    width: 700px;
    height: 400px;
}

.teachers_catch h3 {
    color: #494AE9;
    font-size: 32px;
    text-align: center;
    margin-top: 0;
}





/*Interview Page*/
/* Interview Header*/

.int_head {
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 1s ease, transform 1s ease;
    background-color: #494AE9;
    margin-top: 75px;
    padding-top: 50px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.int_head.visible {
    opacity: 1;
    transform: translateY(0);
}

.int_head h1 {
    display: block;
    margin: 0 auto;
    font-size: 32px;
    font-weight: bold;
    text-align: center;
    color: #494AE9;
    font-family: 'Inter', sans-serif;
    padding: 20px 30px;
    border-radius: 16px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
    background-color: #ffffff;
    width: fit-content;
    max-width: 90%;
}

.int_head h2 {
    color: #fff;
    font-size: 24px;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
    font-weight: 300;
}




.icons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 85px 170px 100px;
    padding: 0;
}


.shitara_container,
.yoshitani_container,
.eguchi_container,
.htetaung_container,
.soyeon_container {
    width: 199px;
    height: 199px;
    overflow: hidden;
    position: relative;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
    border-radius: 100%;
}

.icons figure img {
    width: 199px;
    height: 199px;
    padding: 0;
    margin: 0;
    transition: transform 0.2s ease;
    border-radius: 100px;
}

.icons figure img:hover {
    transform: scale(1.05);
}

.icons figcaption {
    text-align: center;
    color: #fff;
    font-weight: 500;
    padding-top: 20px;
    padding-bottom: 100px;
    margin: 0 auto;
    text-shadow: 0 8px 20px rgba(0, 0, 0, 0.5);;
}
.soyeon_icon a,
.htetaung_icon a,
.eguchi_icon a,
.yoshitani_icon a,
.shitara_icon a{
    text-decoration: none;
}

.soyeon_p,
.htetaung_p,
.eguchi_p,
.yoshitani_p,
.shitara_p{
    margin-top: 0;
    text-align: center;
    color: #fff;
    font: 450 16px 'Inter', sans-serif;
    text-decoration: underline 1px #fff;
}

/*Interview Paragraph*/

.container_1,
.container_2,
.container_3,
.container_4 {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 20px;
    height: 700px;
    background-color: #494AE9;
    padding: 20px;
    margin-top: 100px;
    margin-bottom: 100px;
    border-radius: 20px;
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 1s ease, transform 1s ease;
}

.container_5 {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 20px;
    height: 700px;
    background-color: #494AE9;
    padding: 20px;
    margin-top: 100px;
    margin-bottom: 0;
    border-radius: 20px;
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 1s ease, transform 1s ease;
}

.container_1.visible,
.container_2.visible,
.container_3.visible,
.container_4.visible,
.container_5.visible {
    opacity: 1;
    transform: translateY(0);
}


.sidebar_1,
.sidebar_2,
.sidebar_3,
.sidebar_4,
.sidebar_5 {
    background-color: white;
    padding: 20px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sidebar_1 h2,
.sidebar_2 h2,
.sidebar_3 h2,
.sidebar_4 h2,
.sidebar_5 h2 {
    color: #494AE9;
    font-size: 28px;
    font-weight: bold;
    text-align: center;
    border-radius: 20px;
    margin-top: 45px;
}

.shitara_container_2,
.yoshitani_container_2,
.eguchi_container_2,
.htetaung_container_2,
.soyeon_container_2 {
    width: 460px;
    height: 430px;
    overflow: hidden;
    position: relative;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    margin-top: 50px;
}

.sidebar_1 img,
.sidebar_2 img,
.sidebar_3 img,
.sidebar_4 img,
.sidebar_5 img {
    width: 460px;
    height: 430px;
    transition: transform 0.2s ease;
    border-radius: 20px;
}

.sidebar_1 img:hover,
.sidebar_2 img:hover,
.sidebar_3 img:hover,
.sidebar_4 img:hover,
.sidebar_5 img:hover {
    transform: scale(1.05);
}

.content_1,
.content_2,
.content_3,
.content_4,
.content_5 {
    background-color: white;
    padding: 20px;
    border-radius: 20px;
    display: grid;
    grid-template-rows: repeat(4, auto);
    /* 4 sections */
    gap: 10px;
}

.section_1,
.section_2,
.section_3,
.section_4,
.section_5 {
    line-height: 1.7;
    padding: 0;
    background-color: #e6f0fa;
    border-radius: 20px;
    text-align: center;
}

.section_1 h2,
.section_2 h2,
.section_3 h2,
.section_4 h2,
.section_5 h2 {
    color: #494AE9;
    text-shadow: 2px 2px 0 #a7baff;
    margin-bottom: 35px;
}

.section_1 p,
.section_2 p,
.section_3 p,
.section_4 p,
.section_5 p {
    color: #494AE9;
    font-size: 18px;
    font-weight: 550;
}



/*Friends Catch*/

.friends_catch {
    border-radius:20px 20px 0 0;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 1s ease, transform 1s ease;
}

.friends_catch img {
    padding-top: 50px;
    width: auto;
    height: 450px;
}

.friends_catch h3 {
    color: #494AE9;
    font-size: 32px;
    text-align: center;
    margin-top: 0;
}

.friends_catch.visible {
    opacity: 1;
    transform: translateY(0);
}




/* Skills Page*/
/*Skills Header*/


#kv_head3 {
    background-color: #494AE9;
    margin-top: 75px;
    margin-bottom: 100px;
    border-radius: 20px;
    padding-bottom: 50px;
    height: 720px;
    padding-top: 50px;
}

#kv_head3 {
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 0.5s ease, transform 0.5s ease;
}

#kv_head3.visible {
    opacity: 1;
    transform: translateY(0);
}

#head3 h1 {
    display: block;
    color: #494AE9;
    font-size: 32px;
    text-align: center;
    margin: 0 auto;
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    padding: 20px 30px;
    border-radius: 16px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
    background-color: #ffffff;
    width: fit-content;
    max-width: 90%;
}

#head3 p {
    color: #fff;
    text-align: center;
    font-size: 24px;
    margin: 0;
    font-family: 'Inter', sans-serif;
    padding-top: 50px;
    font-weight: 300;
}

#body3 h3 {
    color: #494AE9;
    font-size: 24px;
}

#body3 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
    margin: 0 auto;
    padding: 20px;
}

#body3 .skill_img_container_1 {
    position: relative;
    overflow: hidden;
    width: 500px;
    height: 320px;
    border-radius: 20px;
    margin-top: 100px;
    margin-left: 230px;
    margin-right: 65px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

#body3 .skill_img_container_1 img {
    border-radius: 20px;
    padding: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease;
}

#body3 .skill_img_container_1 img:hover {
    transform: scale(1.05);
}



#s_body3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px 20px 20px 0;
    margin-top: 80px;
}

#s_body3 h3 {
    display: block;
    color: #494AE9;
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    font-weight: bold;
    padding: 20px 30px;
    border-radius: 16px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
    background-color: #ffffff;
    width: fit-content;
    max-width: 90%;
}

#s_body3 p {
    color: #fff;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    margin: 5px 0;
    line-height: 35px;
    letter-spacing: 15%;
    font-weight: 500;
}


/*Project Teams' Small Imgaes*/


.project_teams h3 {
    display: block;
    margin: 0 auto !important;
    color: #fff;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    font-family: 'Inter', sans-serif;
    padding: 20px 30px;
    border-radius: 16px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
    background-color: #494AE9;
    width: fit-content;
    max-width: 90%;
}

.project_teams p {
    color: #000;
    font-size: 20px;
    text-align: center;
    font-weight: 500;
    margin-top: 30px;
    font-weight: 400;
}

.project_teams {
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 0.5s ease, transform 0.5s ease;
}

.project_teams.visible {
    opacity: 1;
    transform: translateY(0);
}

.teams {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 55px;
    margin-bottom: 100px;
    margin-left: 0;
    margin-right: 0;
    padding: 0;
    gap: 25px;
}

.teams figure {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 0;
}

.event_img_container,
.graphic_img_container,
.seminar_img_container,
.hotpage_img_container,
.main_img_container {
    width: 200px;
    height: 157px;
    border-radius: 20px;
    overflow: hidden;
    position: relative;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

.teams figure img {
    width: 200px;
    height: 157px;
    border-radius: 20px;
    transition: transform 0.3s ease;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

.teams figure:hover img {
    transform: scale(1.05);
}

.event_icon::after,
.graphic_icon::after,
.seminar_icon::after,
.hotpage_icon::after,
.main_icon::after {
    content: '↓';
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #494AE9;
    font-size: 24px;
    font-weight: bold;
    font-family: Arial, sans-serif;
    opacity: 0;
    transition: opacity 0.3s ease;
    pointer-events: none;
    padding: 70px 20px 0 20px;
    margin: auto;
    text-align: center;
    backdrop-filter: blur(10px);
    box-shadow: 0px 0px 30px rgba(227, 228, 237, 0.1);
    width: 80%;
    height: 45%;
    border-radius: 20px;
}

.teams figure:hover::after {
    opacity: 1;
    filter: brightness(80%);
}

.teams figcaption {
    position: relative;
    display: inline-block;
    color: #000;
    font-size: 18px;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    text-align: center;
    padding-top: 20px;
    text-decoration: none;
}

.teams figcaption::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 0;
    height: 1.5px;
    background-color: #000;
    transition: width 0.3s ease-in-out;
}

.teams figure:hover figcaption::after {
    width: 100%;
}

/*Project Teams' Paragaraph*/



.event,
.graphic,
.seminar_t,
.hotpage,
.main {
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 0.5s ease, transform 0.5s ease;
    margin-bottom: 20px;
}

.event.visible,
.graphic.visible,
.seminar_t.visible,
.hotpage.visible,
.main.visible {
    opacity: 1;
    transform: translateY(0);
}


.event_para_container,
.graphic_para_container,
.seminar_para_container,
.hotpage_para_container,
.main_para_container {
    width: 460px;
    height: 306px;
    overflow: hidden;
    border-radius: 20px;
    position: relative;
    margin-top: 50px;
    margin-left: 50px;
    padding-left: 0;
    display: inline-block;
}

.event_para_container img,
.graphic_para_container img,
.seminar_para_container img,
.hotpage_para_container img,
.main_para_container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    transition: transform 0.3s ease;
}

.event_para_container img:hover,
.graphic_para_container img:hover,
.seminar_para_container img:hover,
.hotpage_para_container img:hover,
.main_para_container img:hover {
    transform: scale(1.05);
}

.event_para p,
.graphic_para p,
.seminar_para p,
.hotpage_para p,
.main_para p {
    line-height: 1.6;
    color: #333;
    font-weight: 500;
}


.team_para {
    background-color: #fff;
    border-radius: 20px;
    padding: 60px 170px;
    margin: 0 auto;
}

.team_para {
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 0.5s ease, transform 0.5s ease;
}

.team_para.visible {
    opacity: 1;
    transform: translateY(0);
}

/*Event*/

.team_para .event {
    background-color: #494AE9;
    padding-top: 0;
    padding-bottom: 30px;
    border-radius: 20px;
    margin-top: 60px;
}

.event {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
    margin: 0 auto;
    padding: 20px;
}

.event_para {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 50px;
}

/* .team_para .event img {
    border-radius: 20px;
    width: 460px;
    height: 306px;
    margin-top: 50px;
    margin-left: 90px;
} */

.team_para .event h3 {
    display: block;
    color: #494AE9;
    font-size: 24px;
    font-weight: bold;
    font-family: 'Inter', sans-serif;
    padding: 20px 30px;
    border-radius: 16px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
    background-color: #ffffff;
    width: fit-content;
    max-width: 90%;
}

.team_para .event p {
    color: #fff;
    font-size: 16px;
    font-family: 'Inter', sans-serif;
    line-height: 35px;
    margin-right: 75px;
    margin-top: 0;
}

/*Graphic*/
.team_para .graphic {
    background-color: #494AE9;
    padding-top: 0;
    padding-bottom: 30px;
    border-radius: 20px;
    margin-top: 60px;
}

.graphic {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
    margin: 0 auto;
    padding: 20px;
}

.graphic_para {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* .team_para .graphic img {
    border-radius: 20px;
    width: 460px;
    height: 306px;
    margin-top: 50px;
    margin-left: 90px;
} */

.team_para .graphic h3 {
    display: block;
    color: #494AE9;
    font-size: 24px;
    font-weight: bold;
    font-family: 'Inter', sans-serif;
    margin-top: 75px;
    margin-bottom: 35px;
    padding: 20px 30px;
    border-radius: 16px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
    background-color: #ffffff;
    width: fit-content;
    max-width: 90%;
}

.team_para .graphic p {
    color: #fff;
    font-size: 16px;
    font-family: 'Inter', sans-serif;
    line-height: 35px;
    margin-right: 75px;
    margin-top: 0;
}

/*Seminar*/
.team_para .seminar_t {
    background-color: #494AE9;
    padding-top: 0;
    padding-bottom: 30px;
    border-radius: 20px;
    margin-top: 60px;
}

.seminar_t {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
    margin: 0 auto;
    padding: 20px;
}

.seminar_para {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* .team_para .seminar_t img {
    border-radius: 20px;
    width: 460px;
    height: 306px;
    margin-top: 50px;
    margin-left: 90px;
} */

.team_para .seminar_t h3 {
    display: block;
    color: #494AE9;
    font-size: 24px;
    font-weight: bold;
    font-family: 'Inter', sans-serif;
    margin-top: 75px;
    margin-bottom: 35px;
    padding: 20px 30px;
    border-radius: 16px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
    background-color: #ffffff;
    width: fit-content;
    max-width: 90%;
}

.team_para .seminar_t p {
    color: #fff;
    font-size: 16px;
    font-family: 'Inter', sans-serif;
    line-height: 35px;
    margin-right: 75px;
    margin-top: 0;
}

/*Hotpage*/
.team_para .hotpage {
    background-color: #494AE9;
    padding-top: 0;
    padding-bottom: 30px;
    border-radius: 20px;
    margin-top: 60px;
}

.hotpage {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
    margin: 0 auto;
    padding: 20px;
}

.hotpage_para {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* .team_para .hotpage img {
    border-radius: 20px;
    width: 460px;
    height: 306px;
    margin-top: 50px;
    margin-left: 90px;
} */

.team_para .hotpage h3 {
    display: block;
    color: #494AE9;
    font-size: 24px;
    font-weight: bold;
    font-family: 'Inter', sans-serif;
    margin-top: 75px;
    margin-bottom: 35px;
    padding: 20px 30px;
    border-radius: 16px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
    background-color: #ffffff;
    width: fit-content;
    max-width: 90%;
}

.team_para .hotpage p {
    color: #fff;
    font-size: 16px;
    font-family: 'Inter', sans-serif;
    line-height: 35px;
    margin-right: 75px;
    margin-top: 0;
}

/*Maintanance*/
.team_para .main {
    background-color: #494AE9;
    padding-top: 0;
    padding-bottom: 30px;
    border-radius: 20px;
    margin-top: 60px;
}

.main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
    margin: 0 auto;
    padding: 20px;
}

.main_para {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* .team_para .main img {
    border-radius: 20px;
    width: 460px;
    height: 306px;
    margin-top: 50px;
    margin-left: 90px;
} */

.team_para .main h3 {
    display: block;
    color: #494AE9;
    font-size: 24px;
    font-weight: bold;
    font-family: 'Inter', sans-serif;
    margin-top: 75px;
    margin-bottom: 35px;
    padding: 20px 30px;
    border-radius: 16px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
    background-color: #ffffff;
    width: fit-content;
    max-width: 90%;
}

.team_para .main p {
    color: #fff;
    font-size: 16px;
    font-family: 'Inter', sans-serif;
    line-height: 35px;
    margin-right: 75px;
    margin-top: 0;
}

/*Support's Catch Phrase*/

#skill_catch {
    background-color: #fff;
    border-radius: 20px 20px 0 0;
    margin:100px 0 0 0;
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#skill_catch img {
    height: 450px;
    width: auto;
}

#skill_catch h3 {
    color: #494AE9;
    font-size: 32px;
    text-align: center;
    margin-top: 0;
}

#skill_catch {
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 0.5s ease, transform 0.5s ease;
}

#skill_catch.visible {
    opacity: 1;
    transform: translateY(0);
}





/*Support Page*/
/*Support Header*/

main{
        background: linear-gradient(to right, #E6F4F1 0%, #afc1ff 67%, #B8C6F5 100%);
}

#kv_head2 {
    background-color: #494AE9;
    margin-top: 75px;
    margin-bottom: 100px;
    border-radius: 20px;
    padding-bottom: 80px;
    padding-top: 50px;
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 1s ease, transform 1s ease;
}

#kv_head2.visible {
    opacity: 1;
    transform: translateY(0);
}

.hr_manners {
    border-radius: 20px;
    padding-top: 100px;
}

#head2 h1 {
    display: block;
    margin: 0 auto !important;
    color: #494AE9;
    font-size: 32px;
    text-align: center;
    margin: 0;
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    padding: 20px 30px;
    border-radius: 16px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
    background-color: #ffffff;
    width: fit-content;
    max-width: 90%;
}

#head2 p {
    color: #fff;
    text-align: center;
    font-size: 24px;
    margin: 0;
    margin-top: 50px;
    font-family: 'Inter', sans-serif;
    font-weight: 300;
}

#body2 h3 {
    color: #494AE9;
    font-size: 24px;
    padding: 20px 30px;
    border-radius: 16px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
    background-color: #ffffff;
    width: fit-content;
    max-width: 90%;
}

#body2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
    margin: 0 auto;
    padding: 20px;
}

#body2 .sup_img_container_1 {
    width: 500px;
    height: 320px;
    position: relative;
    overflow: hidden;
    border-radius: 20px;
    margin-top: 100px;
    margin-left: 230px;
    margin-right: 65px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

#body2 .sup_img_container_1 img {
    border-radius: 20px;
    padding: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease;
}

#body2 img:hover {
    transform: scale(1.05);
}

#s_body2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px 0 20px 20px;
    padding-left: 0;
    padding-top: 0;
    margin-top: 100px;
}

#s_body2 h3 {
    display: block;
    color: #494AE9;
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    font-weight: bold;
    padding: 20px 30px;
    border-radius: 16px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
    background-color: #ffffff;
    width: fit-content;
    max-width: 90%;
}

#s_body2 p {
    color: #fff;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    margin: 5px 0;
    line-height: 35px;
    letter-spacing: 15%;
    padding-right: 200px;
    font-weight: 500;
}

/*Manners Small Images*/
.hr_manners {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 0;
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 0.5s ease, transform 0.5s ease;
  background: linear-gradient(to right, #E6F4F1 0%, #afc1ff 67%, #B8C6F5 100%);
}

.hr_manners.visible {
  opacity: 1;
  transform: translateY(0);
}

.hr_manners h4 {
  margin: 0 auto;
  margin-left: 580px;
  color: #fff;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  font-family: 'Inter', sans-serif;
  padding: 20px 30px;
  border-radius: 16px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
  background-color: #494AE9;
  width: fit-content;
  max-width: 100%;
  margin-bottom: 50px;
}

.manners {
  display: flex;
  justify-content: center;
  margin: 20px auto;
  width: 100%;
  max-width: 1200px;
  gap: 80px;opacity: 0;
  transform: translateY(50px);
  transition: opacity 1s ease, transform 1s ease;
  background-color: #fff;
  padding: 25px 0 ;
  border-radius: 20px;
}

.manners.visible{
    opacity: 1;
    transform: translateY(0);
}

.manner_1, .manner_2, .manner_3 {
    padding: 35px;
    background-color: #494AE9;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  max-width: 250px;
  position: relative;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

.manner_1 h3, .manner_2 h3, .manner_3 h3 {
  font-size: 24px;
  color: #fff;
  margin: 15px 0;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

.manner1_container,
.manner2_container,
.manner3_container{
    width: 150px;
    height: 135px;
    border-radius: 20px;
    position: relative;
    overflow: hidden;
    display: inline-block;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

.manner_1 img, .manner_2 img, .manner_3 img {
  width: 150px;
  height: 135px;
  border-radius: 20px;
  margin: 0 auto;
  transition: transform 0.3s ease;
}

.manner_1 img:hover, .manner_2 img:hover, .manner_3 img:hover {
  transform: scale(1.05);
}

.manner_1 p, .manner_2 p, .manner_3 p {
  color: #fff;
  font-size: 16px;
  line-height: 25px;
  margin: 10px 0;
  max-width: 250px;
  font-weight: 500;
}

@media (max-width: 768px) {
  .manners {
    flex-direction: column;
    align-items: center;
    padding: 15px;
    gap: 30px;
  }

  .manner_1, .manner_2, .manner_3 {
    max-width: 100%;
  }

  .manner_1::after, .manner_2::after {
    display: none;
  }
}





/* Support Paragraph*/
/*JEC*/
.support_para {
    background-color: #494AE9;
    margin-top: 100px;
    border-radius: 20px;
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 0.5s ease, transform 0.5s ease;
}

.support_para.visible {
    opacity: 1;
    transform: translateY(0);
}

.jec {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
    margin: 0 auto;
    padding-top: 100px;
    padding-bottom: 100px;
}

.jec_container,
.window_container,
.welcome_container {
    width: 500px;
    height: 320px;
    border-radius: 20px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
    margin-left: 250px;
    overflow: hidden;
    position: relative;
}

.jec img {
    border-radius: 20px;
    margin-right: 50px;
    padding: 0;
    width: 500px;
    height: 320px;
    transition: transform 0.3s ease;
}

.jec img:hover {
    transform: scale(1.05);
}

.jec_para {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
}

.jec_para h3 {
    display: block;
    margin-bottom: 50px;
    color: #494AE9;
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    font-weight: bold;
    padding: 20px 30px;
    border-radius: 16px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
    background-color: #ffffff;
    width: fit-content;
    max-width: 90%;
}

.jec_para p {
    color: #fff;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    margin: 0;
    line-height: 35px;
    letter-spacing: 15%;
    padding-right: 150px;
    font-weight: 500;
}

/*Window*/
.support_para2 {
    background-color: #494AE9;
    margin-top: 100px;
    border-radius: 20px;
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 1s ease, transform 1s ease;
}

.support_para2.visible {
    opacity: 1;
    transform: translateY(0);
}

.window {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
    margin: 0 auto;
    padding-top: 100px;
    padding-bottom: 100px;
}

.window img {
    border-radius: 20px;
    margin-right: 50px;
    padding: 0;
    width: 500px;
    height: 320px;
    transition: transform 0.3s ease;
}

.window img:hover {
    transform: scale(1.05);
}

.window_para {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
}

.window_para h3 {
    display: block;
    margin-bottom: 50px;
    color: #494AE9;
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    font-weight: bold;
    padding: 20px 30px;
    border-radius: 16px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
    background-color: #ffffff;
    width: fit-content;
    max-width: 90%;
}

.window_para p {
    color: #fff;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    margin: 0;
    line-height: 35px;
    letter-spacing: 15%;
    padding-right: 200px;    
    font-weight: 500;
}

/*Welcome*/
.support_para3 {
    background-color: #494AE9;
    margin-top: 100px;
    border-radius: 20px;
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 0.5s ease, transform 0.5s ease;
}

.support_para3.visible {
    opacity: 1;
    transform: translateY(0);
}

.welcome {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
    margin: 0 auto;
    padding-top: 100px;
    padding-bottom: 100px;
}

.welcome img {
    border-radius: 20px;
    margin-right: 50px;
    padding: 0;
    width: 500px;
    height: 320px;
    transition: transform 0.3s ease;
}

.welcome img:hover {
    transform: scale(1.05);
}

.welcome_para {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    padding-right: 200px;
}

.welcome_para h3 {
    display: block;
    margin-bottom: 50px;
    color: #494AE9;
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    font-weight: bold;
    padding: 20px 30px;
    border-radius: 16px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
    background-color: #ffffff;
    width: fit-content;
    max-width: 90%;
}

.welcome_para p {
    color: #fff;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    margin: 0;
    line-height: 35px;
    letter-spacing: 15%;
    font-weight: 500;
}

/*Support Img*/
#sup_catch {
    background-color: #fff;
    border-radius: 20px 20px 0 0;
    margin: 100px 0 0 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: -10;
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 0.5s ease, transform 0.5s ease;
}

#sup_catch.visible {
    opacity: 1;
    transform: translateY(0);
}

.sup_img_container_2 {
    overflow: hidden;
    position: relative;
    margin-top: 100px;
    margin-bottom: 50px;
    height: 500px;
    width: 850px;
    border-radius: 20px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

.sup_img_container_2 img {
    height: 100%;
    width: 100%;
    border-radius: 20px;
    transition: transform 0.3s ease;
}

#sup_catch img:hover {
    transform: scale(1.05);
}

#sup_catch h3 {
    color: #494AE9;
    font-size: 32px;
    text-align: center;
    margin-top: 0;
}




/* Footer */
#footer {
    background: #fff;
    border-radius: 20px 20px 0 0;
    padding: 50px 0 20px;
    position: relative;
    width: 100%;
    margin: 0;
}

#footer_1 {
    background: #fff;
    padding: 50px 0 20px;
    position: relative;
    width: 100%;
    margin: 0;
}

#top {
    opacity: 0;
    transform: translateY(50px);
    pointer-events: none;
    transition: opacity 0.3s ease, transform 0.3s ease;
    position: fixed;
    bottom: 50px;
    right: 50px;
    font-size: 35px;
    color: #494AE9;
    z-index: 100;
}

#top.visible {
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
}

#top ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

#top ul li {
    margin: 0 10px;
}

#top ul li a {
    background: #EFFCFF;
    border: 1px solid #494AE9;
    border-radius: 50%;
    padding: 8px 13px;
    text-decoration: none;
    color: #494AE9;
    line-height: 1;
    display: inline-block;
    text-align: center;
    transition: 0.15s ease-in, border 0.15s ease-in, color 0.15s ease-in;
}

#top ul li a:hover {
    background: #494AE9;
    border: 1px solid #fff;
    color: #fff;
    cursor: pointer;
}


.schl_logo {
    margin-bottom: 40px;
}

.web_logo {
    width: 130px;
    height: 130px;
    position: relative;
    margin-bottom: 10px;
    left: 30px;
}

#footer address,
#footer p {
    color: #000;
    font: 16px/30px 'Inter', sans-serif;
    margin-left: 170px;
    max-width: 600px;
}

#footer p {
    margin-left: 900px;
}

#footer_1 address,
#footer_1 p {
    color: #000;
    font: 16px/30px 'Inter', sans-serif;
    margin-left: 170px;
    max-width: 600px;
    font-weight: 500;
}

#footer_1 p {
    margin-left: 900px;
    margin-top: 0;
    font-weight: 500;
}