@charset "UTF-8";

html {
    scroll-behavior: smooth;
    background: linear-gradient(to right, #E6F4F1 0%, #C0CEFA 67%, #B8C6F5 100%);
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

body,
html {
    margin: 0;
    padding: 0;
}

/*Navigation*/
.nav {
    
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    z-index: 1000;
}

.nav ul {
    z-index: 500;
    display: flex;
    justify-content: right;
    align-items: flex-end;
    backdrop-filter: blur(80px);
    box-shadow: 0px 0px 30px rgba(227, 228, 237, 0.605);
    border: 1px solid rgba(255, 255, 255, 0.18);    
    width: 100%;
    height: 75px;
    border-radius: 30px;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 0;
    margin-bottom: 0;
    padding-right: 165px;
}

.nav ul li {
    list-style-type: none;
    margin: 13px 0 10px 0;
    transition: transform 0.3s ease;
}

.nav ul li a {
    color: #494AE9;
    padding: 17px 30px;
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    display: block;
    text-align: center;
    transition: color 0.3s ease;
}

/* .nav ul li:hover{
    transition: ease-in 0.2s;
}.nav ul li:hover a{
    font-size: 20px;
} */
.nav ul li:hover {
    transform: scale(1.12);
}

.bg_color {
    background: linear-gradient(to right, #E6F4F1 0%, #C0CEFA 67%, #B8C6F5 100%);
}


/*Header*/

.int_head{
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 1s ease, transform 1s ease;
    background-color: #494AE9;
    margin-top: 75px;
    padding-top: 50px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.int_head.visible {
    opacity: 1;
    transform: translateY(0);
}

.int_head h1{
    display: block;
    margin: 0 auto;
    font-size: 32px;
    font-weight: bold;
    text-align: center;
    color: #494AE9;
    font-family: 'Inter', sans-serif;
    padding: 20px 30px;
    border-radius: 16px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
    background-color: #ffffff;
    width: fit-content;
    max-width: 90%;
}

.int_head h2{
    color: #fff;
    font-size: 24px;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 100px;
}


.icons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 85px;
    margin-bottom: 100px;
    margin-left: 170px;
    margin-right: 170px;
    padding: 0;
    gap: 0;
}

.shitara_icon::after,
.yoshitani_icon::after,
.eguchi_icon::after,
.htetaung_icon::after,
.soyeon_icon::after{
    content: '↓';
    position: relative;
    top: -205px;
    left: 43%;
    transform: translate(-50%, -50%);
    color: #fff;
    /* background-color: rgba(0, 0, 0, 0.4); */
    font-size: 24px;
    font-weight: bold;
    font-family: Arial, sans-serif;
    opacity: 0;
    transition: opacity 0.3s ease;
    pointer-events: none;
    padding: 10px;
    margin:0 auto;
    text-align: center;
    backdrop-filter: blur(10px);
    box-shadow: 0px 0px 30px rgba(227, 228, 237, 0.8);
    width: 199px;
    height: 15px;
    border-radius: 100%;
}

.shitara_icon:hover::after,
.yoshitani_icon:hover::after,
.eguchi_icon:hover::after,
.htetaung_icon:hover::after,
.soyeon_icon:hover::after{
    opacity: 3;
    filter: brightness(80%);
}


.shitara_container,
.yoshitani_container,
.eguchi_container,
.htetaung_container,
.soyeon_container{
    width: 199px;
    height: 199px;
    overflow: hidden;
    position: relative;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
    border-radius: 100%;
}

.icons figure img{
    width: 199px;
    height: 199px;
    padding: 0;
    margin: 0;
    transition: transform 0.2s ease;
    border-radius: 100px;
}

.icons figure img:hover{
    transform: scale(1.05);
}

.icons figcaption{
    text-align: center;
    color: #fff;
    font-weight: bold;
    padding-top: 20px;
    padding-bottom: 100px;
    margin: 0 auto;
}


/*Interview Paragraph*/

.container_1,
.container_2,
.container_3,
.container_4{
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 20px; 
  height: 700px; 
  background-color: #494AE9;
  padding: 20px;
  margin-top: 100px;
  margin-bottom: 100px;
  border-radius: 20px;
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 1s ease, transform 1s ease;
}

.container_5 {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 20px; 
  height: 700px; 
  background-color: #494AE9;
  padding: 20px;
  margin-top: 100px;
  margin-bottom: 0;
  border-radius: 20px;
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 1s ease, transform 1s ease;
}

.container_1.visible,
.container_2.visible,
.container_3.visible,
.container_4.visible,
.container_5.visible{
    opacity: 1;
    transform: translateY(0);
}


.sidebar_1,
.sidebar_2,
.sidebar_3,
.sidebar_4,
.sidebar_5 {
  background-color: white;
  padding: 20px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sidebar_1 h2,
.sidebar_2 h2,
.sidebar_3 h2,
.sidebar_4 h2,
.sidebar_5 h2{
    color: #494AE9;
    font-size: 32px;
    font-weight: bold;
    text-align: center;
    border-radius: 20px;
}

.shitara_container_2,
.yoshitani_container_2,
.eguchi_container_2,
.htetaung_container_2,
.soyeon_container_2{
    width: 460px;
    height: 430px;
    overflow: hidden;
    position: relative;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2); 
    border-radius: 20px;
    margin-top: 50px;
}

.sidebar_1 img,
.sidebar_2 img,
.sidebar_3 img,
.sidebar_4 img,
.sidebar_5 img{
    width: 460px;
    height: 430px;
    transition: transform 0.2s ease; 
    border-radius: 20px;
}

.sidebar_1 img:hover,
.sidebar_2 img:hover,
.sidebar_3 img:hover,
.sidebar_4 img:hover,
.sidebar_5 img:hover{
    transform: scale(1.05);
}

.content_1,
.content_2,
.content_3,
.content_4,
.content_5 {
  background-color: white;
  padding: 20px;
  border-radius: 20px;
  display: grid;
  grid-template-rows: repeat(4, auto); /* 4 sections */
  gap: 10px;
}

.section_1,
.section_2,
.section_3,
.section_4,
.section_5 {
  padding: 0;
  background-color: #e6f0fa;
  border-radius: 20px;
  text-align: center;
}

.section_1 h3,
.section_2 h3,
.section_3 h3,
.section_4 h3,
.section_5 h3{
    color: #494AE9;
    font: 24px;
    font-weight: 800;
}

.section_1 p,
.section_2 p,
.section_3 p,
.section_4 p,
.section_5 p{
    color: #494AE9;
    font-size: 16px;
    font-weight: 600;
}



/*Friends Catch*/

.friends_catch{
    background-color: #fff;
    display: flex;
    margin:0;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 1s ease, transform 1s ease;
}

.friends_catch img{
    width: auto;
    height: 450px;
}

.friends_catch h3 {
    color: #494AE9;
    font-size: 32px;
    text-align: center;
    margin-top: 0;
}

.friends_catch.visible {
    opacity: 1;
    transform: translateY(0);
}

/*Footer*/
#footer {
    background-color: #fff;
    padding-top: 100px;
    position: relative;
    width: 100%;
    margin: 0;
    padding-bottom: 20px;
}

#footer #top {
    font-size: 35px;
    color: #494AE9;
    position: fixed;
    bottom: 10px;
    right: 50px;
    z-index: 100;
}

#top ul {
    list-style: none;
    padding: 35px;
    margin: 0;
}

#top ul li {
    list-style-type: none;
    background-color: #EFFCFF;
    border: 1px solid #494AE9; 
    border-radius: 50%;
    padding: 8px 13px;
    height: auto;
    margin: 0 10px;
}

#top ul li:hover {
  background: rgb(61, 106, 255);
  box-shadow: 0 0 30px 5px rgba(0, 142, 236, 0.3);
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}


#top ul li a {
    text-decoration: none;
    color: #494AE9;
    line-height: 1;
    padding: 0;
    display: block;
    width: 100%;
    height: 100%;
    text-align: center;
}

#top ul li:hover {
    background-color: #494AE9;
    transition: ease-in 0.15s;
    cursor: pointer;
    border: 1px solid #fff;
}

#top ul li:hover a {
    color: #fff;
}

#footer address {
    color: #494AE9;
    font-size: 16px;
    font-family: 'Inter', sans-serif;
    margin-left: 170px;
    line-height: 30px;
    font-style: normal;
    max-width: 600px;
}

#footer p {
    color: #494AE9;
    font-size: 16px;
    font-family: 'Inter', sans-serif;
    margin-left: 807px;
}